html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.home {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}